.DS_Store
src/cryptocat.safariextension/*
src/firefox/chrome/content/data/*
release/

# npm
node_modules/

# IDE files
.idea/
*.iml

src/mac/Cryptocat.xcodeproj/project.xcworkspace/xcuserdata/*

*.xcbkptlist

npm-debug.log
